* {
  color: black;

}

h1, h2, h3 {
  font-size: 30px;
  font-family: 'Permanent Marker', cursive;
  color: #4C2800;
  letter-spacing: 2px;
}

body {
  background-color: #FF8600;
}

p {
  font font-family: sans-serif;
  font-size: 20px;
}

ul {
  font-size: 20px;
}

img {
  padding: 5px 5px 5px 5px;
  float: left;
  display: inline;
}

.main-doggo {
  width: 300px;
  margin-right: 50px;
}

.main-doggo, .fetch p {
  float: left;

}

.fetch {
  width: 400px;
  display: inline;
}

footer {
  float:left;
  margin-top: 100px;
}
